@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #000;
  background: #fff;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #fff;
  background: rgb(16, 9, 20);
}
